nav{
    min-height: 10vh;
    background-color: grey;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.App{
    text-align: center;
    color:black
    
}