$backgroundColor: lightgrey;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $backgroundColor;
}

.nav-wrapper {
  display: flex;
  justify-content: space-around;
  background-color: rgb(229, 226, 226);
  height: 10vh;
  ul {
    display: flex;
    list-style-type: none;

    li {
      line-height: 100%;
      padding: 0 10px;

      &:hover {
        background-color: rgb(146, 146, 146);
      }
      a {
        color: rgb(173, 146, 146);
        text-decoration: none;
        line-height: 10vh;
        height: 100%;
      }
    }
  }
}

.modal {
  display: none;
}

ul.collapsible li {
  text-align: center;
}
.collapsible {
  width: 80%;
  margin: 0 auto;
  list-style-type: none;

  #coll {
    background-color: rgb(229, 226, 226);
    margin-top: 2px;
    padding: 10px 5px;
    color: rgb(121, 97, 97);
    cursor: pointer;
    height: 100%;
    width: 80%;
    z-index: 100;
    border: none;
    text-align: left;

    &:focus + #ispis {
    
      height: 50px;
      opacity: 1;
     
    }
  }

  #ispis {
    transition: all 0.4s;
    opacity: 0;
    height: 0px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    cursor: pointer;
    width: 80%;
    background-color: white;
    pointer-events: none;
    text-align: center;
  }
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 10px auto;
  padding: 20px 20px;
  border: 1px solid #888;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  span{
    position:absolute;
    right: 10px;
    top: 10px;
    cursor:pointer;
  }
  form{
    position: relative;
    color: grey;
    
      .input-field{

        margin: 20px 0;
        input{
          border:none;
          border-bottom: 1px solid grey;
          width: 100%;
          padding: 10px 0;
          outline: none;
          
      
          &:focus + label{
            position: absolute;
            transform: translateY(-13px);
            left: 0;
            color: grey;
            font-size: 13px;
          }

        
        }
      }
      label{
        font-size: 10px;

      }
     button{
       padding: 10px 20px;
     }
  }
 
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

