body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: lightgrey;

  .navbar {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
    height: 6vh;

    a {
      text-decoration: none;
      color: rgb(206, 29, 58);
    }

    .navbar-header {
      display: flex;
      flex-direction: column;
      align-self: center;
      justify-content: center;
      height: 100%;

      &:hover {
        background-color: rgb(132, 131, 138);
        cursor: pointer;
      }
    }
  }
  .prvi {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin: 0;
    height: 100%;
    padding: 0;

    .active1 {
      padding: 0 33px;
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      &:hover {
        background-color: rgb(132, 131, 138);
        cursor: pointer;
      }
    }
  }

  .unosImena {
    display: flex;
    flex-direction: column;
    margin-top: 35vh;
    justify-content: space-around;
    height: 14vh;

    .korisnik {
      display: flex;
      justify-content: center;
      height: 5vh;
      input {
        border: none;
        border-radius: 5px;
        &:focus {
          outline: none;
          background-color: lightblue;
          border-bottom: 1px solid rgb(37, 98, 119);
        }
      }
    }
    .btn, .btn1 {
      width: 200px;
      margin: 0 auto;
      border: none;
      border-radius: 5px;
      height: 4vh;

      &:hover {
        background-color: rgb(56, 56, 71);
        cursor: pointer;
      }
    }
  }
}
//predlogPojmova.html
.pojmovi {

 .main{
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     height: 90vh;
     background-color: lightcoral;
     #formTermini{
         height: 20vh;
         display: flex;
         justify-content: center;
      .form-group{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 10vh;
      }
        
        
     }

     .hallOfFame{
       h3{
        width: 300px;
        margin: 0 auto;
        text-align: center;
       }
       .ispisKorsnickeListe{
         list-style-type: none;
         width: 300px;
         margin: 0 auto;
         background-color: rgba(100, 104, 105, .5);
         border-radius: 10px;
         
       }
     }

     
 }
}

.dugme{
  display: flex;
  justify-content: center;
  margin:5% 0;
  .igraj{
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    
  }
}

.tajmer, .randomSlovo{
  width: 200px;
  margin: 2% auto;
  font-weight: 600;
  font-size: 25px;
  color: rgb(158, 129, 129);
  text-align: center;

}

.forma{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 280px;
  margin: 0 auto;
  label{
    margin-right: 10px;
  }
  input{
    float: right;
  }
  .sekcija1{
    display: flex;
    justify-content: center;
    #submit{
      width: 100px;
      margin: 0 auto;
      float: none;
    }
  }
  
}
