body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: lightgrey;
}

body .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 1px solid black;
  height: 6vh;
}

body .navbar a {
  text-decoration: none;
  color: #ce1d3a;
}

body .navbar .navbar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

body .navbar .navbar-header:hover {
  background-color: #84838a;
  cursor: pointer;
}

body .prvi {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 300px;
  margin: 0;
  height: 100%;
  padding: 0;
}

body .prvi .active1 {
  padding: 0 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .prvi .active1:hover {
  background-color: #84838a;
  cursor: pointer;
}

body .unosImena {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 35vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 14vh;
}

body .unosImena .korisnik {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5vh;
}

body .unosImena .korisnik input {
  border: none;
  border-radius: 5px;
}

body .unosImena .korisnik input:focus {
  outline: none;
  background-color: lightblue;
  border-bottom: 1px solid #256277;
}

body .unosImena .btn, body .unosImena .btn1 {
  width: 200px;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  height: 4vh;
}

body .unosImena .btn:hover, body .unosImena .btn1:hover {
  background-color: #383847;
  cursor: pointer;
}

.pojmovi .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 90vh;
  background-color: lightcoral;
}

.pojmovi .main #formTermini {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pojmovi .main #formTermini .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10vh;
}

.pojmovi .main .hallOfFame h3 {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.pojmovi .main .hallOfFame .ispisKorsnickeListe {
  list-style-type: none;
  width: 300px;
  margin: 0 auto;
  background-color: rgba(100, 104, 105, 0.5);
  border-radius: 10px;
}

.dugme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5% 0;
}

.dugme .igraj {
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
}

.tajmer, .randomSlovo {
  width: 200px;
  margin: 2% auto;
  font-weight: 600;
  font-size: 25px;
  color: #9e8181;
  text-align: center;
}

.forma {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 280px;
  margin: 0 auto;
}

.forma label {
  margin-right: 10px;
}

.forma input {
  float: right;
}

.forma .sekcija1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.forma .sekcija1 #submit {
  width: 100px;
  margin: 0 auto;
  float: none;
}
/*# sourceMappingURL=style.css.map */