@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #f6d365, #fda085);
  color: white;
  font-family: "Poppins", sans-serif;
  // display: flex;
  // flex-direction: column;

  h1 {
    text-align: center;
    margin-top: 5vh;
    font-size: 7vh;
  }
  .inputi {
    margin-top: 5vh;
    form {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: row;
      input[type="text"] {
        width: 50%;
        height: 50px;
        border: none;
      }
      .dugme {
        border: none;
        width: 7vh;
        position: relative;
        color: #d88771;
        background: white;
        cursor: pointer;
        transition: all 0.5s;
        &:hover {
          color: white;
          background: #d88771;
        }

        .fas {
          transform: scale(3);
        }
      }
    }
  }
  ul {
    margin: 10% auto 0 auto;
    width: 50%;
    list-style-type: none;
    .item {
      display: flex;
      flex-direction: row;
      .klasaListe {
        width: 100%;
        background-color: white;
        border: none;
        height: 50px;
        color: black;
        text-align: center;
        font-size: 30px;
        line-height: 50px;
        margin-bottom: 5px;
      }
      .trash {
        width: 50px;
        height: 50px;
        background-color: rgb(52, 175, 52);
        border: none;
        color: wheat;
        cursor: pointer;
      }
    }
  }
  .pretragaMain {
    display: flex;
    justify-content: center;

    .pretraga {
      display: flex;
      width: 50%;
      height: 50px;
      border: none;
      margin-top: 10px;
    }
    .pretraga1 {
      width: 50px;
      height: 50px;
      margin-top: 10px;
      border: none;
      color: #d88771;
      background: white;
      cursor: pointer;
      transition: all 0.5s;
      &:hover {
        color: white;
        background: #d88771;
      }
    }
    
    .fas {
      transform: scale(3);
      
    }
  }
  
}
