* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 100px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 250px;
  padding-left: 250px;
}

#navbar__logo {
    font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}

.navbar__menu {
  list-style: none;
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__links {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 2rem;
  height: 100%;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  color: white;
}


.dot {
    height: 5px;
    width: 5px;
    background-color: #bbb;
    border-radius: 50%;
    position: relative;
    top: 6px;
    background-color: seagreen;
  }

  .dot1 {
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 0 2px;
    background-color:white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .header{
      background-image: url('./carusel.jpg');
      min-height: 90vh;
      background-position: center;
      background-size: cover;
  }

  .slideshow-container{
      color: white;
      width: 50%;
      margin:auto;
      text-align: center;
      position: relative;
      top: 150px;
      display:flex;
      justify-content: space-between;
  }

  .dotDiv{
      text-align: center;
      position: relative;
      top: 200px;
  }

  .prev, .next {
    cursor: pointer;
    color: white;

  }

  .next {
    position: relative;
    right: 0;
   color: rgb(88, 112, 39);
    font-size: 30px;
    font-weight: 100;
    top: 40px;
  }

  .prev{
    top: 40px;

    position: relative;
    right: 0;
    width: 30px;
    height: 40px;
    color: rgb(88, 112, 39);
    font-size: 30px;
    font-weight: 100;
    
  }

  

  .numbertext{
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 700;

  }

  .active, .dot:hover {
    background-color: #717171;
  }

  .mySlides{
    width: 600px;
    display: flex;
    font-size: 2rem;
  }

  .span{
      font-size: 2rem;
      font-family: 'Raleway', sans-serif;
    font-weight: 200;
    
  }

  .text{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    margin-top: 10px;
  }

  .button{
    background-color: lightseagreen;
    padding: 8px 35px;
    color: white;
    border-radius: 15px;
    margin-top: 40px;
    font-size: 8px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    border: none;
    outline: none;
  }

  .down{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
    width: 100%;
    margin: auto;
    color: rgb(88, 112, 39);

  }