* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 100px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 250px;
  padding-left: 250px;
}

#navbar__logo {
  font-family: "Raleway", sans-serif;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}

.navbar__menu {
  list-style: none;
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__links {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 2rem;
  height: 100%;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  color: white;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  position: relative;
  top: 6px;
  background-color: seagreen;
}

.dot1 {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.header {
  background-image: url("./carusel.jpg");
  min-height: 90vh;
  background-position: center;
  background-size: cover;
}

.slideshow-container {
  color: white;
  width: 50%;
  margin: auto;
  text-align: center;
  position: relative;
  top: 150px;
  display: flex;
  justify-content: space-between;
}

.dotDiv {
  text-align: center;
  position: relative;
  top: 200px;
}

.prev,
.next {
  cursor: pointer;
  color: white;
}

.next {
  position: relative;
  right: 0;
  color: rgb(88, 112, 39);
  font-size: 30px;
  font-weight: 100;
  top: 40px;
}

.prev {
  top: 40px;

  position: relative;
  right: 0;
  width: 30px;
  height: 40px;
  color: rgb(88, 112, 39);
  font-size: 30px;
  font-weight: 100;
}

.numbertext {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.active,
.dot:hover {
  background-color: #717171;
}

.mySlides {
  width: 600px;
  display: flex;
  font-size: 2rem;
}

.span {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
}

.text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  margin-top: 10px;
}

.button {
  background-color: rgb(88, 112, 39);
  padding: 8px 35px;
  color: white;
  border-radius: 15px;
  margin-top: 40px;
  font-size: 8px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
}

.down {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100px;
  width: 100%;
  margin: auto;
  color: rgb(88, 112, 39);
  text-decoration: none;
}
.aboutAsPrime {
  min-height: 100vh;
}
.aboutAs {
  position: relative;
  top: 60px;
  min-height: 100px;
  background-color: white;
  font-family: "Raleway", sans-serif;
  width: 700px;
  margin: auto;
  text-align: center;
}

.aboutAs1 {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  color: grey;
}

.Line {
  width: 30px;
  height: 1px;
  background-color: rgb(88, 112, 39);
  width: 20px;
  margin: auto;
  position: relative;
  top: 15px;
}

.someText {
  position: relative;
  top: 30px;
  color: grey;
}

#aboutAs {
  min-height: 300px;
  width: 800px;
  margin: auto;
  position: relative;
  top: 100px;
  display: flex;
  justify-content: space-around;
}

.item {
  width: 200px;
  height: 300px;
}

.img {
  height: 100px;
  width: 100px;
  background-color: lightgrey;
  margin: auto;
  position: relative;
  top: 20px;
  border-radius: 50%;
}
.firstText {
  width: 150px;
  margin: auto;
  text-align: center;
  position: relative;
  top: 60px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.description {
  font-size: 10px;
  width: 200px;
  margin: auto;
  text-align: center;
  position: relative;
  top: 80px;
  font-family: "Raleway", sans-serif;
  font-weight: 200px;
  color: grey;
  display: grid;
  grid-template-rows: 20px 20px 20px;
}

.space {
  width: 50px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.atom {
  width: 50px;
  position: absolute;
  top: 25px;
  left: 25px;
}
.fan {
  width: 50px;
  position: absolute;
  top: 25px;
  left: 25px;
}
.cloud {
  width: 50px;
  position: absolute;
  top: 25px;
  left: 20px;
}

.img:hover {
  background-color: rgb(88, 112, 39);
}

.button1 {
  background-color: rgb(88, 112, 39);
  padding: 8px 35px;
  color: white;
  border-radius: 15px;
  margin: auto;
  font-size: 8px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  border: none;
  outline: none;
  position: absolute;
  top: 300px;
  left: 43%;
  cursor: pointer;
}
.image1 {
  width: 100%;
  min-height: 400px;
  background-color: rgb(248, 244, 244);
  position: relative;
  top: -100px;
}

.image1 {
  display: flex;
  justify-content: space-between;
}
.image1A {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image1Ab {
  width: 400px;
  border-radius: 30px;
}
.image1B {
  display: flex;
}

.position {
  width: 100%;
  text-align: left;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  margin-top: 50px;
}

.position h1,
.position2 h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.position p,
.position2 p {
  color: grey;
}

.button2 {
  background-color: rgb(88, 112, 39);
  padding: 8px 35px;
  color: white;
  border-radius: 15px;
  margin: auto;
  font-size: 8px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
}

#second {
  flex-direction: row-reverse;
}
.image1B2 {
  display: flex;
}
.position2 {
  width: 504px;
  text-align: left;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  margin-top: 50px;
}

.button22 {
  background-color: rgb(88, 112, 39);
  padding: 8px 35px;
  color: white;
  border-radius: 15px;
  margin: auto;
  font-size: 8px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
}

.image2 {
  width: 100%;
  min-height: 400px;
  position: relative;
  top: -100px;
  display: flex;
}

@media screen and (max-width: 768px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .navbar__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .header {
    background-image: none;
    
  }
#navbar__logo{
  color: green;
  text-align: center;
  justify-self: center;
  display: flex;
  justify-content: center;
  background-color: greenyellow;
}
  .navbar__menu {
    list-style: none;
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
      flex-direction: column;
      background-color: rgb(88, 112, 39);
    }
  .navbar__item, .navbar__links{
    height: 40px;
    border-bottom: 2px solid rgb(133, 133, 11) ;
    width: 100%;
  }

  .navbar__item:hover{
    background-color: rgb(65, 190, 65);
  }
  
  .slideshow-container {
    height: 0;
    display: none;
  }
  .dotDiv{
    display: none;
    height: 0;
  }
  .aboutAs, #aboutAs{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin-bottom: 50px;
  }
  
}
