
.addCar, .addCustomer{
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin: 0 auto;
    display: none;
}
.listShowCars, .listShowCustomers{
    display: flex;
    width: 100%;
    list-style-type: none;
    border-bottom:2px solid black;
    height: 10vh;
    justify-content: space-around;
    
}
ul{
    padding: 0;
}

.dugmeDelete, .dugmeUpdate{
    height: 4vh;
}
nav{
    display: flex;
    justify-content: space-around;
}

