
.addCar{
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin: 0 auto;
    display: none;
}
.listaIspis{
    display: flex;
    width: 100%;
    list-style-type: none;
}
ul{
    padding: 0;
}

