body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.addCar, .addCustomer, .addRentalEvent{
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin: 0 auto;
    display: none;
    padding: 3vh;
    background-color: grey;
    border-radius: 5px;
}
.listShowCars, .listShowCustomers{
    display: flex;
    width: 100%;
    list-style-type: none;
    border-bottom:2px solid black;
    height: 10vh;
    justify-content: space-around;
    
}
ul{
    padding: 0;
    background-color: honeydew;
}

.dugmeDelete, .dugmeUpdate, .dugmeDeleteCustomer, .dugmeUpdateCustomer{
    height: 4vh;
}
nav{
    display: flex;
    justify-content: space-around;
    background-image:linear-gradient(to right, rgb(146, 85, 85), rgb(216, 49, 49));
    padding: 5vh 0;
}

.eventLi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

hr{
    margin: 0;
}